
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
 
body {
    background: url('https://th.bing.com/th/id/R.8774cfffdab847aad3e5c4e25a28126e?rik=KSf1Xnehu9Ji6A&pid=ImgRaw&r=0') no-repeat center center/cover;
    height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
    color: white; /* Ajuste a cor do texto para contrastar com o fundo */
}

.botao {
    display: inline-block;
    padding: 20px 35px;
    font-size: 16px;
    font-weight: bold;
    color: #fff; 
    background-color: #f7c774; 
    border: none;
    border-radius: 30px; 
    text-decoration: none; 
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    text-align: center;
}

.botao:hover {
    background-color: #f5b947; 
    transform: scale(1.05); 
}  

.container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 20px; 
    height: 80%; 
    width: 80%;
    margin: 50px auto; 
}

.grande {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #fff; 
    border: none;
    border-radius: 10px; 
    text-decoration: none; 
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;

 /* Imagem de fundo para cada botão */
 background-size: cover;
 background-position: center;
 height: 150px; /* Altura do botão */
 }


.grande:nth-child(1){ 
 background-image: url('cienciashumanas.png'); 
 }
.grande:nth-child(2) {
 background-image: url('cienciasdanatureza.png'); 
}

.grande:nth-child(3) {
 background-image: url('linguagens.png'); 
}

.grande:nth-child(4) {
 background-image: url('matematica.png');
 }

.grande:hover {
 transform: scale(1.05); /* Leve efeito de zoom no hover */
}
